---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>{{ site.name }}</div>
      <div style='font-size: 1.2em;'>
        PhD Student
      </div>
      <div style='font-size: 1.2em'>
        <a href="https://www.ox.ac.uk/">University of Oxford</a>
      </div>
      <div style='font-size: 1.2em'>
        <a href="mailto:contact@pgupta.info">contact@pgupta.info</a>
      </div>
      <br/>

      <div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/short-cv.pdf" target='_blank' style='color: white; text-decoration: none;'>CV</a><span style="font-size: 0.6em; color:white;">(short)</span>
      </div>

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://github.com/{{ site.usernames.github }}" target="_blank">
            <i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href="https://scholar.google.com/citations?user={{ site.usernames.google_scholar }}" target="_blank">
          <i class="ai ai-google-scholar"></i></a>
        </li>
        <li>
          <a href="http://twitter.com/{{ site.usernames.twitter }}" target="_blank">
            <i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/{{ site.usernames.linkedin }}" target="_blank">
            <i class="fa fa-fw fa-linkedin-square"></i></a>
        </li>
        <li>
          <a href="/atom.xml" target="_blank">
            <i class="fa fa-fw fa-rss"></i></a>
        </li>
      </ul>

      <ul class="list-inline idxIcons" style='font-size: 1em; margin-top:1em'>
        <li>
          <a href="/teaching/" target="_blank" class="button1">Teaching</a>
        </li>
        <li>
          <a href="/talks/" target="_blank" class="button1">Talks</a>
        </li>
        <li>
          <a href="/blog/" target="_blank" class="button1">Blog</a>
        </li>
        <li>
          <a href="/just-ask/" target="_blank" class="button1">Just ask!</a>
        </li>
      </ul>

    </div>
    <div class="col-md-2 vcenter idxHdr">
      <a href="/images/me-large.png">
        <img src="/images/me.png"
             style="border-radius: 20px; margin: 10px; max-width: none;"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>

  <footer class="fixed-bottom-footer">
    <div class="jumbotron mt-0" id="footer-container">
      Last updated: {{ "now" | date: '%B %d, %Y' }}.
      Powered by <a href="http://jekyllrb.com">Jekyll</a>, a fork of <a href="https://github.com/bamos/bamos.github.io" target="_blank">bamos.github.io</a>
    </div>
  </footer>

  <script type="text/javascript">

    var elems = document.querySelectorAll("ol.bibliography");
    for (var i = 0; i < elems.length; i++) {
       elems[i].remove();
    }

    var elems = document.querySelectorAll("li:empty");
    for (var i = 0; i < elems.length; i++) {
       elems[i].remove();
    }


  </script>

</div>
