---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div class="name-title">{{ site.name }}</div>
      <div class="role-title">
        Postdoctoral Researcher
      </div>
      <div class="role-title">
        <a href="https://www.mpib-berlin.mpg.de/chm/" class="institution-link">Max Planck Institute, Center for Humans and Machines</a>
      </div>
      <div class="role-title">
        <span class="email-link">
          <span class="email-parts">
            &#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#112;&#103;&#117;&#112;&#116;&#97;&#46;&#105;&#110;&#102;&#111;
          </span>
        </span>
      </div>
      <br/>
      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="http://github.com/{{ site.usernames.github }}" target="_blank" class="social-icon">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://scholar.google.com/citations?user={{ site.usernames.google_scholar }}" target="_blank" class="social-icon">
            <i class="ai ai-google-scholar"></i>
          </a>
        </li>
        <li>
          <a href="http://twitter.com/{{ site.usernames.twitter }}" target="_blank" class="social-icon">
            <i class="fab fa-x-twitter"></i>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/{{ site.usernames.linkedin }}" target="_blank" class="social-icon">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>

      <ul class="list-inline idxIcons" style='font-size: 1em; margin-top:1em'>
        <li>
          <a href="/teaching/" target="_blank" class="button1">Teaching</a>
        </li>
        <li>
          <a href="/talks/" target="_blank" class="button1">Talks</a>
        </li>
        <li>
          <a href="/blog/" target="_blank" class="button1">Blog</a>
        </li>
        <li>
          <a href="/just-ask/" target="_blank" class="button1">Just ask!</a>
        </li>
      </ul>

    </div>
    <div class="col-md-2 vcenter idxHdr">
      <a href="/images/me-large.png">
        <img src="/images/me.png"
             class="profile-image"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>

  <footer class="fixed-bottom-footer">
    <div class="jumbotron mt-0" id="footer-container">
      Last updated: {{ "now" | date: '%B %d, %Y' }}.
      Powered by <a href="http://jekyllrb.com">Jekyll</a>, a fork of <a href="https://github.com/bamos/bamos.github.io" target="_blank">bamos.github.io</a>
    </div>
  </footer>

  <script type="text/javascript">
    var elems = document.querySelectorAll("ol.bibliography");
    for (var i = 0; i < elems.length; i++) {
       elems[i].remove();
    }

    var elems = document.querySelectorAll("li:empty");
    for (var i = 0; i < elems.length; i++) {
       elems[i].remove();
    }
  </script>

</div>
